* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.container {
  position: relative;
  width: 90%;
  height: 87vh;
}
.nav {
  background-color: #006efe;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}
.left-nav {
  width: 70%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-form {
    display: flex;
    align-items: center;
/* width: 1000px; */
}
.search {
    height: 40px;
    width: 80%;
    border-radius: 3px;
    border: 0;
    /* margin-right: -40px; */
}
.search::placeholder {
    padding: 10px;
}
.search-icon {
    /* margin-left: -40px; */
    width: 20%;
    height: 40px;
    border: none;
    background-color: #ffffff;
}
.right-nav {
    width: 30%;
    list-style: none;
  display: flex;
  justify-content: flex-end;
}
a {
  text-decoration: none;
}
