* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.form {
  width: 400px;
  height: auto;
  background: #006efe;
  border-radius: 4px;
}
.heading {
  text-align: center;
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 50px;
  padding-top: 20px;
  color:#fff;
}
.label {
  
  padding-left: 20px;
  color: #fff;
}
input,
.btn-submit {
  
  width: 90%;
  height: 35px;
  display: block;
  margin: 20px;
  border-radius: 5px;
  background: #fff;
  border: none;
  padding: 15px;
  transition: 0.5s;
  text-transform: capitalize;
}
input::placeholder {
  color: #006efe;
}
input:focus {
  background: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0;
}
input:focus::placeholder {
  color: #fff;
}
.btn-submit {
  cursor: pointer;
  width: auto;
  padding: 0 20px;
  margin: 50px auto 0;
  color: #006efe;
  
}
.link {
  
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 30px auto;
  color: #fff;
}
.message {
  color: red;
}
